<style>
    div.drop {
        min-width: 200px;
        min-height: 80px;
        /* border: 1px solid #aaaaaa;*/
        /* width: 640px;*/
        /*height: 640px;*/
    }

    div.dragged {
        cursor: pointer;
        overflow: auto;
        /*    width: 280px;
            height: 80px;*/
    }

</style>

<!-- list -->
<div class="pull-left" style="margin-left:-350px;width:300px;">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="p in list">
            <div id={{p.id}} jp-draggable jp-isdraggable="true" jp-dragstart="OnDragStart(event)"
                 class="dragged">
                <!--<i class="fa fa-arrows"></i>-->
                <img ng-src="{{p.src}}"/>
            </div>
        </li>
    </ul>
</div>

<!-- drop area -->
<span>Drop here: </span>

<div jp-draggable jp-drop="OnDrop(event)" jp-dragover="OnDragOver(event)" class="drop"
     style="width:{{tableWidth}}px;height:{{tableHeight}}px;border:1px dashed blue;position:relative;" id="container">
    <div ng-repeat="item in droppedItems" id="{{item.id}}" style="position:absolute;" jp-draggable jp-isdraggable="true"
         jp-dragstart="OnDragStart(event)">
        <img ng-src="{{item.src}}"/>
    </div>
    <svg ng-attr-width="{{tableWidth}}" ng-attr-height="{{tableHeight}}" ng-show="showGridLines">
        <line ng-repeat="line in lines" ng-attr-x1="{{line.x1}}" ng-attr-y1="{{line.y1}}" ng-attr-x2="{{line.x2}}"
              ng-attr-y2="{{line.y2}}"
              style="stroke:rgb(0,0,255);stroke-width:1" stroke-dasharray="1, 4"/>
        <line ng-repeat="line2 in lines2" ng-attr-x1="{{line2.x1}}" ng-attr-y1="{{line2.y1}}" ng-attr-x2="{{line2.x2}}"
              ng-attr-y2="{{line2.y2}}"
              style="stroke:rgb(0,0,255);stroke-width:1" stroke-dasharray="1, 4"/>
    </svg>


</div>
